:root {
    --color-base: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5472);
}
.btn-one-piece {
    background-color: cadetblue;
    color: white;
}
.text-comprar {
    color: darkturquoise !important;
}
#header img {
    width: 85px;
}
#main .carousel-inner img{
    height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}
.img-card {
    height: 200px;
    object-fit: cover;
}
#place-time {
    background-color: #343a40;
    color: white;
}
#place-time img {
    max-width: 100%;
}
#footer{
    background: var(--color-base);
}
#footer a {
    color: white;
}